<form action="" name="edit_image_form" ng-submit="submit_form()" >
  <div class="row">
    <div class="span10 col offset1">
      <legend>编辑壁纸</legend>
      <div class="alert alert-error" ng-show="fail_msg">{{fail_msg}}</div>
      <div class="alert alert-success" ng-show="succ_msg">{{succ_msg}}</div>
      <div class="picture-container clearfix">
        <div class="book-meta">
          <div class="wrapper">
            <div class="picture-cover pull-left">
              <img ng-src="http://bookstore.qiniudn.com/{{image.file_key}}?imageView/2/w/200" alt="" />
            </div>
            <div class="info">
              <h1><label>标题: </label><input type="text" class="span5" ng-model="image.title" /></h1>
              <p><label>给个评价吧: </label><rating value="image.rate" max="5" readonly="rate_readonly"></rating></p>
              <div>
                <label class="tag-label">添加标签: </label>
                <div class="tag-wrapper clearfix">
                  <input type="text" class="span5" ng-model="tags_input_value" placeholder="用空格分割" />
                  <p>请用空格分隔标签</p>
                  <span class="tag" ng-class="{disabled: image.tags.indexOf(tag) != -1}"  ng-repeat="tag in tags" ng-click="toggle_tag(tag)">{{tag}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span10 offset1">
      <button class="btn pull-right btn-large">保存</button>
    </div>
  </div>
</form>

