<div class="row books">
  <div class="span9">
    <h2 class="category">Recommendations</h2>
    <ul class="media-list book-list clearfix">
      <li class="media" ng-repeat="image in recommends">
      <a href="#/images/{{image.objectId}}"><img ng-src="{{image.file_key | thumb}}" alt="" class="picture-cover" /></a>
        <span class="title">{{image.title}}</span>
        <rating value="image.rate || 0" max="5" readonly="true"></rating>
      </li>
    </ul>
    <div class="clearfix"></div>
    <h2 class="category">Newest <a href="#/books/newest">more... </a></h2>
    <ul class="media-list book-list clearfix">
      <li class="media" ng-repeat="image in images">
      <a href="#/images/{{image.objectId}}"><img ng-src="{{image.file_key | thumb}}" alt="" class="picture-cover" /></a>
        <span class="title">{{image.title}}</span>
        <rating value="image.rate || 0" max="5" readonly="true" ng-class="{invisible: (image.rate === 0)}"></rating>
      </li>
    </ul>
    <div class="clearfix"></div>
    <h2 class="category">Popular</h2>
    <ul class="media-list book-list clearfix">
      <li class="media" ng-repeat="image in month_top">
        <a href="#/images/{{image.objectId}}"><img ng-src="{{image.file_key | thumb}}" alt="" class="picture-cover" /></a>
        <span class="title">{{image.title}}</span>
        <rating value="image.rate || 0" max="5" readonly="true"></rating>
      </li>
    </ul>
    </div>
    <div class="span3">
      <h2 class="category">Top 5 by Week</h2>
      <ul class="media-list book-list clearfix sidebar">
          <li class="media" ng-repeat="image in week_top">
            <a href="#/images/{{image.objectId}}"><img ng-src="{{image.file_key | thumb}}" alt="" class="picture-cover" /></a>
            <span class="title">{{image.title}}</span>
            <rating value="image.rate || 0" max="5" readonly="true"></rating>
          </li>
      </ul>
    </div>
  </div>

