<form action="">
  <div class="row">
    <div class="span9 col">
      <legend>编辑图书</legend>
      <div class="book-container clearfix">
        <div class="book-meta">
          <div class="wrapper">
            <div class="cover pull-left">
              <img data-src="holder.js/122x157" alt="" />
            </div>
            <div class="info">
              <h1><span>标题: </span><input type="text" class="span5" /></h1>
              <p><span>作者：</span> <input type="text" value="aisensiy" class="span5" /></p>
              <p><span>副书名：</span><input type="text" value="a hands-on guide to modeling, sculpting, materials, and rendering" class="span5" /></p>
              <p><span>ISBN：</span><input type="text" value="1-59327-477-7" class="span5" /></p>
              <p><span>出版社：</span><input type="text" value="" class="span5" /></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span9 col">
      <div class="summary-container">
        <h1>Summary</h1>
        <textarea class="description span8" rows="13">
          新本格鬼才麻耶雄嵩力作！这个家伙还能写出“中规中矩”的推理？！不信的话，就请阅读这部《贵族侦探》。

          《维也纳森林的故事》、《闲聊快速波尔卡》、《蝙蝠》、《加速圆舞曲》、《春之声》，每篇作品均以小施特劳斯的经典曲目命名，这将会是怎样有品位的推理呀！

          三名仆人，就可以解决一切困扰！

          “推理这种粗活不需要我这个贵族去做，我只需要招待这位漂亮的当事人喝喝红茶。”

          这样的侦探，真的没有问题吗？！
        </textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span9">
      <button class="btn pull-right">保存</button>
    </div>
  </div>
</form>

