<div class="row">
  <div class="span9">
    <div style="height: 100px; background-color: silver;"></div>
  </div>

  <div class="span3">
    <div style="height: 100px; background-color: silver;"></div>
  </div>
</div>

<div class="row books">
  <div class="span9">
    <ul class="media-list book-list clearfix">
      <% 25.times do %>
        <li class="media">
          <img data-src="holder.js/101x146" alt="" />
          <span class="title">货币、银行信贷与经济周期</span>
          <rating value="5" max="5" readonly="true"></rating>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="span3">
    <ul class="media-list book-list clearfix sidebar">
      <% 3.times do %>
        <li class="media">
          <img data-src="holder.js/101x146" alt="" />
          <span class="title">货币、银行信贷与经济周期</span>
          <rating value="3" max="5" readonly="true"></rating>
        </li>
      <% end %>
    </ul>
  </div>
</div>
