<ul class="media-list book-list clearfix">
  <% 25.times do %>
  <li class="media">
    <div class="wrapper">
      <div class="content clearfix">
        <a href="#" class="pull-left">
          <img class="media-object" alt="" data-src="holder.js/101x146" />
        </a>
        <div class="media-body">
          <a href="#">麦田守望者</a>
          <p class="author">by 马丁 安东尼等</p>
        </div>
      </div>
      <div class="tools clearfix">
        <ul class="pull-left actions unstyled">
          <li><i class="icon-heart"></i>3</li>
          <li><i class="icon-eye-open"></i>40</li>
        </ul>
        <ul class="scores pull-right unstyled">
          <li>豆瓣: 7.4</li>
        </ul>
        <ul class="features unstyled pull-right">
          <li><span class="label label-inverse">PRO</span></li>
        </ul>
      </div>
    </div><!-- wrapper end -->
    <div class="user">
      <a href="#"><i class="icon-user"></i><span>aisensiy</span></a>
    </div>
  </li>
  <% end %>
</ul>
