<div class="row">
  <div class="login-panel span6 offset3">
    <form class="form-horizontal">
      <legend>Reset Password</legend>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="Email">
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Send Reset Password Mail</button>
      </div>
    </form>
  </div>
</div>
