<div class="book-upload">
  <form>
    <fieldset>
      <legend>电子书上传</legend>
      <div class="control-group">
        <label class="control-label">豆瓣链接</label>
        <span class="help-block">你要上传书籍的豆瓣链接：比如，http://book.douban.com/subject/6798611</span>
        <input type="text" placeholder="Type something…" class="span6">
      </div>
      <div class="control-group">
        <label>选择要上传的电子书</label>
        <span class="help-block">只支持mobi和pdf格式的文件上传，不超过50M</span>
        <input type="file" />
      </div>

      <hr />

      <div class="control-group">
        <label>图书标签</label>
        <span class="help-block">重要: 请在上传前检查文档得质量，选择合适得描述标签 </span>
        <div class="book-options">
          <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> 中文简体
          </label>
          <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2"> 中文繁体
          </label>
          <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3"> 英文
          </label>
          <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3"> 俄文
          </label>
        </div>
      </div>
      <div class="control-group">
        <label for="">补充描述</label>
        <textarea id="" name="" rows="10" cols="30" class="span6"></textarea>
      </div>

      <div class="control-group">
        <label class="checkbox">
          <input type="checkbox" value="">
          是否要公开这本书
        </label>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </fieldset>
  </form>
</div>
