<!--
<div class="row">
  <div class="span9">
    <div style="height: 100px; background-color: silver;"></div>
  </div>

  <div class="span3">
    <div style="height: 100px; background-color: silver;"></div>
  </div>
</div>
-->

<div class="row books">
  <div class="span9">
    <h2 class="category">Newest <a href="#/books/popular">more... </a></h2>
    <ul class="media-list book-list clearfix">
      <li class="media" ng-repeat="book in books">
        <a href="#/books/{{book.objectId}}"><img ng-src="{{book.cover_url}}" alt="" class="cover" /></a>
        <span class="title">{{book.title}}</span>
        <rating value="book.rate" max="5" readonly="true"></rating>
      </li>
    </ul>
    <div class="clearfix"></div>
    <h2 class="category">Popular <a href="#">more... </a></h2>
    <ul class="media-list book-list clearfix">
      <li class="media" ng-repeat="book in books">
        <a href="#/books/{{book.objectId}}"><img ng-src="{{book.cover_url}}" alt="" class="cover" /></a>
        <span class="title">{{book.title}}</span>
        <rating value="book.rate" max="5" readonly="true"></rating>
      </li>
    </ul>
    <div class="clearfix"></div>
    <h2 class="category">Recommendations <a href="#">more... </a></h2>
    <ul class="media-list book-list clearfix">
      <li class="media" ng-repeat="book in books">
        <a href="#/books/{{book.objectId}}"><img ng-src="{{book.cover_url}}" alt="" class="cover" /></a>
        <span class="title">{{book.title}}</span>
        <rating value="book.rate" max="5" readonly="true"></rating>
      </li>
    </ul>
      <!--
      <div class="paginate-wrapper" ng-show="paging">
        <pagination num-pages="paging.total_page" on-select-page="pageChanged(page)" current-page="paging.current_page" class="pagination" previous-text="&laquo;" next-text="&raquo;"></pagination>
      </div>
      -->
    </div>
    <div class="span3">
      <h2 class="category">Top5 by Week</h2>
      <ul class="media-list book-list clearfix sidebar">
          <li class="media" ng-repeat="book in week_top">
            <a href="#/books/{{book.objectId}}"><img ng-src="{{book.cover_url}}" alt="" class="cover" /></a>
            <span class="title">{{book.title}}</span>
            <rating value="book.rate" max="5" readonly="true"></rating>
          </li>
      </ul>
    </div>
  </div>

