<ul class="media-list book-list clearfix sidebar">
  <% 3.times do %>
    <li class="media">
      <img data-src="holder.js/101x146" alt="" />
      <span class="title">货币、银行信贷与经济周期</span>
      <rating value="3" max="5" readonly="true"></rating>
    </li>
  <% end %>
</ul>
