<form action="" name="edit_book_form" ng-submit="submit_form()" >
  <div class="row">
    <div class="span10 col offset1">
      <legend>编辑图书</legend>
      <div class="alert alert-error" ng-show="fail_msg">{{fail_msg}}</div>
      <div class="alert alert-success" ng-show="succ_msg">{{succ_msg}}</div>
      <div class="book-container clearfix">
        <div class="book-meta">
          <div class="wrapper">
            <div class="cover pull-left">
              <img ng-src="{{book.cover_url}}" alt="" />
            </div>
            <div class="info">
              <h1><label>标题: </label><input type="text" class="span5" ng-model="book.title" /></h1>
              <p><label>作者: </label><input type="text" value="aisensiy" class="span5" ng-model="book.author" /></p>
              <!--<p><span>副书名: </span><input type="text" value="a hands-on guide to modeling, sculpting, materials, and rendering" class="span5" /></p>-->
              <p><label>ISBN: </label><input type="text" value="1-59327-477-7" class="span5" ng-model="book.isbn" /></p>
              <p><label>出版社: </label><input type="text" value="" class="span5" ng-model="book.publisher" /></p>
              <p><label>给个评价吧: </label><rating value="book.rate" max="5" readonly="rate_readonly"></rating></p>
              <div>
                <label class="tag-label">添加标签: </label>
                <div class="tag-wrapper clearfix">
                  <input type="text" class="span5" ng-model="tags_input_value" placeholder="用空格分割" />
                  <p>请用空格分隔标签</p>
                  <span class="tag" ng-class="{disabled: book.tags.indexOf(tag) != -1}"  ng-repeat="tag in tags" ng-click="toggle_tag(tag)">{{tag}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span10 offset1 col">
      <div class="summary-container">
        <h1>Summary</h1>
        <textarea class="description span9" rows="13" ng-model="book.summary"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span10 offset1">
      <button class="btn pull-right btn-large">保存</button>
    </div>
  </div>
</form>

