<div class="row col-wrap">
  <div class="col span3 wrapper">
    <div class="user-container">
      <div class="clearfix user-info">
        <img src="/assets/user.png" alt="" class="avatar pull-left" />
        <h1 class="username">Aisensiy</h1>
      </div>
      <hr />
      <ul class="items unstyled">
        <li><span>Books: </span>20</li>
        <li><span>Devices: </span>PDF</li>
        <li><a href="#/users/password_modify">change password</a></li>
      </ul>
    </div>
  </div>
  <div class="col span9 wrapper">
    <form name="book_form" method="post" action="http://up.qiniu.com/" enctype="multipart/form-data" ng-upload>
      <div class="alert alert-success" ng-show="succ_msg">{{succ_msg}}</div>
      <div class="alert alert-error" ng-show="fail_msg">{{fail_msg}}</div>
      <div class="row">
        <div class="span5">
          <div class="basic-info">
            <label>亚马逊或豆瓣链接</label>
            <input type="url" name="x:url" placeholder="http://book.douban.com/subject/6798611" class="span5" required ng-model="book.url">
            <label>上传电子书文件</label>
            <input type="file" name="file" ng-model='model.upload' valid-file required style="line-height: normal;" />
            <input name="token" type="hidden" value="{{token}}" />
          </div>
        </div>
        <div class="span4">
          <div class="extra-info">
            <div class="control-group">
              <label>图书语言</label>
              <div class="book-options">
                <label class="radio inline" ng-repeat="lang in langs">
                  <input type="radio" name="x:lang" value="{{lang.value}}"> {{lang.name}}
                </label>
              </div>
            </div>
            <hr />
            <label for="" class="checkbox inline">
              <input type="checkbox" name="x:is_public" value="1" ng-model="book.is_public" />
              设为公开
            </label>
          </div>
        </div>
        <div class="span9">
          <div class="control-group submit">
            <div class="controls pull-right">
              <button type="submit" class="btn btn-primary"
                ng-disabled="book_form.$invalid" ng-click="show_loading()"
                upload-submit="submit_complete(content, completed)" >Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row books">
  <div class="span12">
    <h2 class="category">My Books</h2>
    <div class="container">
      <ul class="media-list book-list clearfix">
        <li class="media" ng-repeat="book in books">
          <a href="#/books/{{book.objectId}}"><img ng-src="{{book.cover_url}}" alt="" class="cover" /></a>
          <span class="title">{{book.title}}</span>
          <rating value="book.rate" max="5" readonly="true"></rating>
        </li>
      </ul>
    </div>
  </div>
</div>
