<script type="text/ng-template" id="books_html">
  <%= render "books" %>
</script>

<script type="text/ng-template" id="book_html">
  <%= render "book" %>
</script>

<script type="text/ng-template" id="book_new_html">
  <%= render "self_page" %>
</script>

<div class="row">
  <div class="span12">
    <div id="loading" ng-show="loading">Loading...</div>
    <div data-ng-view></div>
  </div>
</div>

