<div class="book-container clearfix">
  <div class="book-meta">
    <h2>{{book.title}}</h2>
    <div class="wrapper">
      <div class="cover pull-left">
        <img  width="101" height="147" src="{{book.cover_url}}" alt="" />
      </div>
      <div class="info">
        <p><span>作者：</span>{{book.author.join(', ')}}</p>
        <p><span>副书名：</span>a hands-on guide to modeling, sculpting, materials, and rendering</p>
        <p><span>出版日期：</span>2013</p>
        <p><span>出版社：</span>{{book.publisher}}</p>
        <p><span>页数：</span>{{book.pages}}</p>
        <p><span>ISBN：</span>{{book.isbn}}</p>
        <p><span>文件格式：</span>PDF</p>
        <p><span>文件大小：</span>48.56 MB</p>
      </div>
    </div>
  </div>
  <div class="download">
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Download</button>
    </div>
  </div>
  <div class="extra-info">
    <h3>Extra Infomation</h3>
    <p>
      {{book.summary}}
    </p>
  </div>
</div>
