<ul class="media-list book-list clearfix">
  <li class="media" data-ng-repeat="book in books">
  <div class="wrapper">
    <div class="content clearfix">
      <a href="#/books/{{book.id}}" class="pull-left">
        <img class="media-object" alt="" ng-src="{{book.image_url}}" />
      </a>
      <div class="media-body">
        <a href="#/books/{{book.id}}">{{book.title}}</a>
        <p class="author">by {{book.author}}</p>
      </div>
    </div>
    <div class="tools clearfix">
      <ul class="pull-left actions unstyled">
        <li><i class="icon-heart"></i>3</li>
        <li><i class="icon-eye-open"></i>40</li>
      </ul>
      <ul class="scores pull-right unstyled">
        <li>豆瓣: 7.4</li>
      </ul>
      <ul class="features unstyled pull-right">
        <li data-ng-show="book.private"><span class="label label-inverse">PRO</span></li>
      </ul>
    </div>
  </div><!-- wrapper end -->
  <div class="user">
    <a href="#"><i class="icon-user"></i><span>{{book.user}}</span></a>
  </div>
  </li>
</ul>
