<div class="row">
  <div class="login-panel span6 offset3">
    <form class="form-horizontal" name="reset_form" data-ng-submit="submit_form()">
      <legend>Reset Password</legend>
      <div class="alert alert-error" ng-show="fail_msg">{{fail_msg}}</div>
      <div class="alert alert-success" ng-show="succ_msg">{{succ_msg}}</div>
      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          <input type="email" id="email" name="email" placeholder="Email" ng-model="model.email" required autofocus />
          <span class="help-inline" ng-show="reset_form.email.$error.email">不合法的邮件地址</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="captcha">Captcha</label>
        <div class="controls">
          <input type="text" id="captcha" placeholder=""
          ng-model="model.captcha" name="captcha" required />
          <%= captcha_tag %>
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary" ng-disabled="reset_form.$invalid">Send Reset Password Mail</button>
      </div>
    </form>
  </div>
</div>
