input.ng-invalid.ng-dirty {
	border-color: red !important;//#e9322d;
	-moz-box-shadow: 0 0 6px #f8b9b7 !important;
	-webkit-box-shadow: 0 0 6px #f8b9b7 !important;
	box-shadow: 0 0 6px #f8b9b7 !important;
}

.cover {
  width: 101px;
  height: 147px;
}
