/*
 *= require bootstrap_and_overrides
 *= require_self
 */

@import "compass";

$bg-color: rgb(156, 200, 19);
$bg-color-lighter: rgb(179, 230, 21);

.btn {
  margin: 0;
  padding: 5px 15px;
  font-size: 12px;
  border: 1px solid #ccc;
  background: $bg-color;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: white;
  &:hover, &:focus {
    color: white;
    border: 1px solid #bbb;
    background: $bg-color-lighter;
  }
  &:active {
    color: white;
    border: 1px solid #ccc;
    background: $bg-color;
  }
}

@media (min-width: 768px) {

  /* top row */
  .col {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }

  /* bottom row */
  .col-base {
    margin-top: -15px; /* cut off top portion of bottom wells */
  }
}

@media (max-width: 767px) {
  .row-fluid.base {
    display:none;
  }
}


.col-wrap {
  overflow: hidden;
}

.col.wrapper {
  background-color: #fafafa;
}

.upload-form {
}

.basic-info, .extra-info {
  padding: 20px;
}

.basic-info {
}

input[type=file] {
  line-height: 20px;
  height: auto;
}

@mixin container {
  background-color: #fafafa;
  padding: 20px;
  h1 {
    border-bottom: 1px solid #f5f5f5;
    font-size: 18px;
    line-height: 25px;
    margin: 5px 0;
  }
}

.nav-main {
  @include inline-block-list(12px);
  background-color: $bg-color;
  li {
    line-height: 40px;
    border-right: 1px solid #f1f1f1;
    a {
      color: #f3f3f3;
      background-color: transparent;
      &:hover {
        color: white;
        background-color: transparent;
      }
    }
  }
  margin-bottom: 20px;
}

ul.book-list {
  @include container;
  > li {
    position: relative;
    float: left;
    width: 207px;
    overflow: hidden;
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
    }
    .title {
      font-weight: bold;
      display: block;
      margin: 3px 0;
    }
  }
  .media:first-child {
    margin-top: 15px;
  }
}

.upload-form {
  @include container;
}

.user-container {
  @include container;
  .user-info {
  }
  .avatar {
    margin-right: 20px;
  }
  .items {

  }
}

.sidebar.book-list {
  @include container;
  > li.media {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}


.row  .row {
  margin-bottom: 20px;
}

.summary-container {
  @include container;
}

.device-container {
  @include container;
}

.book-container {
  @include container;
  .info {
    margin-left: 140px;
  }
}

.full-width {
  width: 97.5%;
}

.comment-container {
  margin-top: 20px;
  @include container;
  .media a.pull-left {
    margin-right: 30px;
  }
}

.submit {
  padding: 0 20px 0 20px;
}

.modal {
  .modal-header {
    background-color: $bg-color;
    color: white;
    a {
      color: white;
    }
    ul {
      @include horizontal-list(5px);
    }
  }
}
