/*
 *= require bootstrap_and_overrides
 *= require_self
 */

@import "compass";

$bg-color: rgb(156, 200, 19);
$bg-color-lighter: rgb(179, 230, 21);
$bg-color-disabled: #CAE673;

@mixin button {
  margin: 0;
  padding: 5px 15px;
  font-size: 12px;
  border: 1px solid #ccc;
  background: $bg-color;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: white;
}

@mixin button_disabled {
  background: $bg-color-disabled !important;
}

.btn {
  @include button;
  &:hover, &:focus {
    color: white;
    border: 1px solid #bbb;
    background: $bg-color-lighter;
  }
  &:active {
    color: white;
    border: 1px solid #ccc;
    background: $bg-color;
  }

  &[disabled] {
    @include button_disabled;
  }
}

.tag {
  @include button;
  &.disabled {
    @include button_disabled;
  }
}

/*
body {
  padding-top: 50px;
}
.navbar .brand {
  margin-left: 0px;
}
*/


@media (min-width: 768px) {

  /* top row */
  .col {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }

  /* bottom row */
  .col-base {
    margin-top: -15px; /* cut off top portion of bottom wells */
  }
}

@media (max-width: 767px) {
  .row-fluid.base {
    display:none;
  }
}


.col-wrap {
  overflow: hidden;
}

.col.wrapper {
  background-color: #fafafa;
}

.upload-form {
}

.basic-info, .extra-info {
  padding: 20px;
}

.basic-info {
}

input[type=file] {
  line-height: 20px;
  height: auto;
}

@mixin container {
  background-color: #fafafa;
  padding: 20px;
  h1 {
    border-bottom: 1px solid #f5f5f5;
    font-size: 18px;
    line-height: 25px;
    margin: 5px 0;
  }
}

.nav-main {
  @include inline-block-list(12px);
  background-color: $bg-color;
  li {
    line-height: 40px;
    border-right: 1px solid #f1f1f1;
    a {
      color: #f3f3f3;
      background-color: transparent;
      &:hover {
        color: white;
        background-color: transparent;
      }
    }
  }
  margin-bottom: 20px;
}

ul.book-list {
  @include container;
  > li {
    position: relative;
    float: left;
    width: 207px;
    overflow: hidden;
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
    }
    .title {
      font-weight: bold;
      display: block;
      margin: 3px 0;
      height: 1.5em;
      overflow: hidden;
    }
  }
  .media:first-child {
    margin-top: 15px;
  }
}

.upload-form {
  @include container;
}

.user-container {
  @include container;
  .user-info {
  }
  .avatar {
    margin-right: 20px;
  }
  .items {

  }
}

.sidebar.book-list {
  @include container;
  > li.media {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}


.row  .row {
  margin-bottom: 20px;
}

.summary-container {
  @include container;
}

.device-container {
  @include container;
}

.book-container {
  @include container;
  .info {
    margin-left: 140px;
  }
}

.full-width {
  width: 97.5%;
}

.comment-container {
  margin-top: 20px;
  @include container;
  .media a.pull-left {
    margin-right: 30px;
  }
}

.submit {
  padding: 0 20px 0 20px;
}

.modal {
  .modal-header {
    background-color: $bg-color;
    color: white;
    a {
      color: white;
    }
    ul {
      @include horizontal-list(5px);
    }
  }
}

.cover {
  width: 101px;
  height: 147px;
}

#loading {
  position: fixed;
  z-index: 10000;
  width: 10%;
  text-align: center;
  background-color: #08c;
  line-height: 25px;
  color: white;
  margin: 0 auto;
  left: 46%;
  top: 0;
}

.modal-header .close {
  margin-top: -2px;
}

h2.category {
  font-size: 15px;
  border-bottom: 1px solid #f1f1f1;
  line-height: 30px;
  color: #bbb;
  a {
    float: right;
    color: #bbb;
  }
}

form div.info {
  label {
    width: 6em;
    font-size: 14px;
    font-weight: normal;
    @include inline-block;
    line-height: 1.5em;
    margin-bottom: 5px;
  }
  .tag-label {
    float: left;
  }
  .tag-wrapper {
    margin-left: 6em;
  }
}
.tag-wrapper {
  span.tag {
    @include inline-block;
    padding: 3px 7px;
    margin: 5px 5px 5px 0;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
  }
}
